@import 'tailwindcss';

@font-face {
  font-family: 'WorkSansItalic';
  src: url('./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'WorkSans';
  src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf');
}

:root {
  /* Body Background Color */
  --body-bg-color: #f9eeff;

  /* Card Background Color */
  --card-bg-color: hsl(0, 100%, 100%);

  /* Card Headings color */
  --card-h-color: hsl(292, 42%, 14%);

  /* Border color */
  --card-border-color: hsl(275, 100%, 97%);

  /* Card Paragraph color */
  --card-p-color: hsl(292, 16%, 49%);

  /* Heading Hover color */
  --card-hover-color: #ac28eb;
}

body {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--body-bg-color);
}